.profile__button-edit {
  width: 28px;
  height: 28px;
  border: none;
  margin-bottom: 8px;
  background-color: #000;
  background-image: url('../../../images/btn-edit.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity 0.4s;
}

.profile__button-edit:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .profile__button-edit {
    width: 18px;
    height: 18px;
    background-image: url('../../../images/btn-edit-mobile.svg');
    margin-bottom: 5px;
  }
}
