.profile__button-edit {
  box-sizing: border-box;
  width: 33px;
  height: 24px;
  border: none;
  background-color: #000;
  background-image: url('../../../images/btn-edit.svg');
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.4s;
}

.profile__button-edit:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .profile__button-edit {
    width: 26px;
    height: 19px;
    background-image: url('../../../images/btn-edit-mobile.svg');
  }
}
