.popup__container_type_deleteCard {
  width: 430px;
  min-height: 180px;
  border-radius: 10px;
  padding: 34px 36px 36px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  background-color: #fff;
}

@media screen and (max-width: 700px) {
  .popup__container_type_deleteCard {
    width: 282px;
    min-height: 120px;
    padding: 25px 22px 25px;
  }
}

